---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to my personal web.">
	<header>
		<h1>Ricardo Veronica Duran</h1>
	</header>

	<section>
		<h2>LAMP Stack Web Developer</h2>
		<p>Guadalajara, Jalisco</p>
	</section>

	<main>
		<h2>My Services</h2>

		<section>
			<h3>Laravel</h3>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos,
				earum.
			</p>
		</section>

		<section>
			<h3>React</h3>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Expedita facilis ipsam porro!
			</p>
		</section>

		<section>
			<h3>WordPress</h3>
			<p>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit.
				Consequatur aut sit cupiditate quasi!
			</p>
		</section>
	</main>

	<section>
		<h2>Contact</h2>
	</section>

	<footer>
		<p>All Right Reserved. Ricardo Veronica Duran</p>
	</footer>
</Layout>

<style></style>
