---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to my personal web.">
	<header>
		<h1>Ricardo Veronica Duran</h1>
	</header>

	<nav>
		<a href="/">Home</a>
		<a href="/about">About</a>
		<a href="/clients">Clients</a>
		<a href="/contact">Contact</a>
	</nav>

	<section>
		<h2>LAMP Stack Web Developer</h2>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			class="icon icon-tabler icon-tabler-map-2"
			width="80"
			height="80"
			viewBox="0 0 24 24"
			stroke-width="1"
			stroke="#ffec00"
			fill="none"
			stroke-linecap="round"
			stroke-linejoin="round"
		>
			<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
			<path d="M12 18.5l-3 -1.5l-6 3v-13l6 -3l6 3l6 -3v7.5"></path>
			<path d="M9 4v13"></path>
			<path d="M15 7v5.5"></path>
			<path
				d="M21.121 20.121a3 3 0 1 0 -4.242 0c.418 .419 1.125 1.045 2.121 1.879c1.051 -.89 1.759 -1.516 2.121 -1.879z"
			></path>
			<path d="M19 18v.01"></path>
		</svg>
		<p>Guadalajara, Jalisco</p>

		<a href="#">Contact</a>
	</section>

	<main>
		<h2>My Services</h2>

		<section>
			<h3>Laravel</h3>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="icon icon-tabler icon-tabler-brand-laravel"
				width="40"
				height="40"
				viewBox="0 0 24 24"
				stroke-width="1"
				stroke="#000000"
				fill="none"
				stroke-linecap="round"
				stroke-linejoin="round"
			>
				<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
				<path
					d="M3 17l8 5l7 -4v-8l-4 -2.5l4 -2.5l4 2.5v4l-11 6.5l-4 -2.5v-7.5l-4 -2.5z"
				></path>
				<path d="M11 18v4"></path>
				<path d="M7 15.5l7 -4"></path>
				<path d="M14 7.5v4"></path>
				<path d="M14 11.5l4 2.5"></path>
				<path d="M11 13v-7.5l-4 -2.5l-4 2.5"></path>
				<path d="M7 8l4 -2.5"></path>
				<path d="M18 10l4 -2.5"></path>
			</svg>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos,
				earum.
			</p>
		</section>

		<section>
			<h3>React</h3>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="icon icon-tabler icon-tabler-brand-react"
				width="40"
				height="40"
				viewBox="0 0 24 24"
				stroke-width="1"
				stroke="#000000"
				fill="none"
				stroke-linecap="round"
				stroke-linejoin="round"
			>
				<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
				<path
					d="M6.306 8.711c-2.602 .723 -4.306 1.926 -4.306 3.289c0 2.21 4.477 4 10 4c.773 0 1.526 -.035 2.248 -.102"
				></path>
				<path
					d="M17.692 15.289c2.603 -.722 4.308 -1.926 4.308 -3.289c0 -2.21 -4.477 -4 -10 -4c-.773 0 -1.526 .035 -2.25 .102"
				></path>
				<path
					d="M6.305 15.287c-.676 2.615 -.485 4.693 .695 5.373c1.913 1.105 5.703 -1.877 8.464 -6.66c.387 -.67 .733 -1.339 1.036 -2"
				></path>
				<path
					d="M17.694 8.716c.677 -2.616 .487 -4.696 -.694 -5.376c-1.913 -1.105 -5.703 1.877 -8.464 6.66c-.387 .67 -.733 1.34 -1.037 2"
				></path>
				<path
					d="M12 5.424c-1.925 -1.892 -3.82 -2.766 -5 -2.084c-1.913 1.104 -1.226 5.877 1.536 10.66c.386 .67 .793 1.304 1.212 1.896"
				></path>
				<path
					d="M12 18.574c1.926 1.893 3.821 2.768 5 2.086c1.913 -1.104 1.226 -5.877 -1.536 -10.66c-.375 -.65 -.78 -1.283 -1.212 -1.897"
				></path>
				<path d="M11.5 12.866a1 1 0 1 0 1 -1.732a1 1 0 0 0 -1 1.732z"
				></path>
			</svg>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Expedita facilis ipsam porro!
			</p>
		</section>

		<section>
			<h3>WordPress</h3>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="icon icon-tabler icon-tabler-brand-wordpress"
				width="40"
				height="40"
				viewBox="0 0 24 24"
				stroke-width="1"
				stroke="#000000"
				fill="none"
				stroke-linecap="round"
				stroke-linejoin="round"
			>
				<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
				<path d="M9.5 9h3"></path>
				<path d="M4 9h2.5"></path>
				<path d="M11 9l3 11l4 -9"></path>
				<path d="M5.5 9l3.5 11l3 -7"></path>
				<path
					d="M18 11c.177 -.528 1 -1.364 1 -2.5c0 -1.78 -.776 -2.5 -1.875 -2.5c-.898 0 -1.125 .812 -1.125 1.429c0 1.83 2 2.058 2 3.571z"
				></path>
				<path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
			</svg>
			<p>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit.
				Consequatur aut sit cupiditate quasi!
			</p>
		</section>
	</main>

	<section>
		<h2>Contact</h2>

		<form action="#">
			<fieldset>
				<legend>Full all fields and contact me</legend>

				<div>
					<label for="">Name</label>
					<input type="text" placeholder="Your Name" />
				</div>

				<div>
					<label for="">Whatsapp</label>
					<input type="tel" placeholder="Your Watsapp Number" />
				</div>

				<div>
					<label for="">Email</label>
					<input type="email" placeholder="Your Email" />
				</div>

				<div>
					<label for="">Messsge</label>
					<textarea></textarea>
				</div>

				<div>
					<input type="submit" value="Send" />
				</div>
			</fieldset>
		</form>
	</section>

	<footer>
		<p>All Right Reserved. Ricardo Veronica Duran</p>
	</footer>
</Layout>

<style></style>
