---
interface Props {
  name: string;
  profession: string;
}

const { name, profession } = Astro.props;
---

<header>
  <h1 class="title">
    {name}
    {" "}
    <span class="span">{profession}</span>
  </h1>
</header>

<style>
  .span {
    font-size: 1.5rem;
  }
</style>
