---

---

<div class="nav-bg">
    <nav class="container nav">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/clients">Clients</a>
        <a href="/contact">Contact</a>
    </nav>
</div>

<style>
    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media (min-width: 768px) {
        .nav {
            flex-direction: row;
            justify-content: space-around;
        }
    }

    .nav a {
        color: var(--white);
        text-decoration: none;
        font-size: 2rem;
        font-weight: bold;
        padding: 1rem;
    }
    .nav a:hover {
        background-color: var(--primary);
        color: var(--black);
    }

    .nav-bg {
        background-color: var(--secondary);
    }
</style>
