---
// responsive nav menu
// hover
---

<div class="nav-bg">
  <nav class="container nav">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/clients">Clients</a>
    <a href="/contact">Contact</a>
  </nav>
</div>

<style>
  .nav {
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }
  .nav-bg {
    background-color: var(--secondary);
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (min-width: 768px) {
    .nav {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  .nav a {
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: var(--white);
    text-decoration: none;
  }
  .nav a:hover {
    background-color: var(--primary);
    color: var(--black);
  }
</style>
